.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app-title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /*max-width: 480px;*/
}

.nested-container {
    max-width: 1240px;
    margin: auto;
}

@media  (min-width:468px) and (max-width:768px) {
    .app-title {
        font-size:25px;
    }
}

@media screen and (max-width: 467px) {
    .app-title {
        width: 460px;
        font-size:20px;
    }
}

